name: Dark-Web-Links-2024

on:
  schedule:
    - cron: '*/1 * * * *'  # Runs every minute

jobs:
  Dark-Websites-2024:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Update Dark-Websites-2024.txt
        run: |
              echo "$(date -u +'%Y-%m-%d %H:%M:%S') UTC - Update" >> Dark-Websites-2024.txt
          
      - name: Commit changes
        run: |
          git config --global user.email "EliasHawthorne297@hotmail.com"
          git config --global user.name "Elishaworne"
          git add Dark-Websites-2024.txt
          git commit -m "Dark-Websites-2024.txt" || echo "No changes to commit"
          git push
